<div class="about">
  <div class="about-pic">
    <div class="content">
      <%= fa_icon 'circle-o  3x' %>
      <h1 style="color: white; opacity: 0.7; font-size: 50px"> Bit about me </h1>
    </div>
  </div>

  <section class="meow text-center">
     <h1 style="color: black; font-size: 21px">lil secret bout me-ow!</h1>
     <hr class="short-underline" />

      <div class="intros text-center">

        <div class="intro">
          <%= image_tag "photo.jpg",class:"profile-setting" %>
          <h5> Photo </h5>
        </div>

        <div class="intro">
          <%= image_tag "bg.jpg",class:"profile-setting" %>
          <h5> Travel </h5>
        </div>

        <div class="intro">
          <%= image_tag "sf.jpg",class:"profile-setting" %>
          <h5> Online Communities </h5>
        </div>

        <div class="intro">
          <h1 style="font-family:Times New Roman; color: white; font-size: 24px; justify-content: center">
          something about me blah !
        </h1>

        <div class="intro">
          <%= link_to "https://www.facebook.com/" do %>
          <%= fa_icon 'facebook 2x' %>
        <%end%>

        <div class="intro">
          <%= link_to "https://twitter.com/" do %>
          <%= fa_icon 'twitter 2x' %>
        <%end%>

        <div class="intro">
          <%= link_to "https://www.instagram.com/" do %>
          <%= fa_icon 'instagram 2x' %>
        <%end%>

        <div class="intro-2">
          <%= link_to "https://www.pinterest.com/" do %>
          <%= fa_icon 'pinterest 2x' %>
        <%end%>



      </div>

  </section>



</div>
