<div class="about">
  <div class="about-pic">
  <div class="content">
    <%= fa_icon 'circle-o  3x' %>
    <h1 style="color: white; opacity: 0.3; font-size: 40px"> Bit about me </h1>
  </div>

  <section class="meow text-center">
     <h1 style="color: black; font-size: 21px">lil secret bout me-ow!</h1>
     <hr class="short-underline" />

      <div class="intros text-center">

        <div class="intro">
          <%= image_tag "camera.gif",class:"profile-setting" %>
          <h5> Photo </h5>
        </div>

        <div class="intro">
          <%= image_tag "rainbow.gif",class:"profile-setting" %>
          <h5> Travel </h5>
        </div>

        <div class="intro">
          <%= image_tag "sf.jpg",class:"profile-setting" %>
          <h5> Online Communities </h5>
        </div>

        <h1 style="font-family:Times New Roman; color: white; font-size: 24px; justify-content: center">
          something about me blah !
        </h1>

        <%= link_to "https://www.facebook.com/" do %>
        <%= fa_icon 'facebook 4x' %>
        <%end%>

        <%= link_to "https://twitter.com/" do %>
        <%= fa_icon 'twitter 4x' %>
        <%end%>

        <%= link_to "https://www.instagram.com/" do %>
        <%= fa_icon 'instagram 4x' %>
        <%end%>

        <%= link_to "https://www.pinterest.com/" do %>
        <%= fa_icon 'pinterest 4x' %>
        <%end%>

      </div>

  </section>



</div>
