<div class="landing">
      <div class="background">
      <div class="content">
        <h1 style="color: white; font-size: 40px;">Hello World</h1>
      </div>
    </div>

    <div class="background-2">
      <div class="content">
        <h1 style="font-family:Times New Roman; color: grey;font-size: 24px">Where cool people meet </h1>
      </div>
    </div>

    <section class="features-container text-center">
     <h1 style="color: black; font-size: 21px">Let's Explore</h1>

      <div class="features text-center">
        <div class="feature">
          <%= fa_icon 'globe 4x', class:"fa-pulse" %>
          <h5> International Hub </h5>
        </div>

          <div class="feature">
            <%= fa_icon 'universal-access 4x', class:"fa-pulse" %>
            <h5> Universal Assistant </h5>
          </div>

          <div class="feature">
            <%= fa_icon 'google-plus-official 4x',class:"fa-pulse" %>
            <h5> Online Communities </h5>
          </div>

          <div class="feature">
            <%= fa_icon 'spinner 4x',class:"fa-pulse" %>
            <h5> 24/7 Suport </h5>
          </div>
      </div>
    </section>

    <section class="features-container2 text-center">
    <!-- <div class="photos"> -->

      <div class="features-image">
        <div class="blue-layout">
          <div class="content-hover">
            <h3 style="color: black; font-size: 24px"> Kick'in In!</h3>
          </div>
        </div>
        <%= image_tag "ruby.gif", class:"image-setting" %>
      </div>

      <div class="features-image">
        <div class="blue-layout">
          <div class="content-hover">
            <h3> Hop'in In!</h3>
          </div>
        </div>
        <%= image_tag "book.gif",class:"image-setting" %>
      </div>

      <div class="features-image">
        <div class="blue-layout">
          <div class="content-hover">
            <h3> Fly'in Out!</h3>
          </div>
        </div>
        <%= image_tag "no.gif",class:"image-setting" %>
      </div>

      <div class="features-image">
        <div class="blue-layout">
          <div class="content-hover">
            <h3> Chill'in Out!</h3>
          </div>
        </div>
        <%= image_tag "world.gif",class:"image-setting" %>
      </div>
    </section>

    <section class="contact-container">
      <div class="contact text-center">
        <h1 style="font-family:Times New Roman; color: white; font-size: 24px; justify-content: center">
          Let's Chat!
        </h1>
        <hr class="short-underline">
        <p> Honestly you gonna see da world!.</p>
        </div>

      <div class="contact2 text-center">
        <div class="feature">
          <%= fa_icon 'phone'%>
          <h5> Touch In </h5>
          </div>
          <div class="feature">
            <%= fa_icon 'envelope'%>
            <h5> Drop In </h5>
          </div>
        </div>


    </section>

    <div class="flex-parent"> <!-- display: flex; align-items:center -->
      <div class="flex-child"> <!-- flex: 0 0 300px -->
      <div class="flex-child">
    </div>
  </div>
